@font-face {
  font-family: "iconfont"; /* Project id 3494052 */
  src: url('iconfont.woff2?t=1656654166042') format('woff2'),
       url('iconfont.woff?t=1656654166042') format('woff'),
       url('iconfont.ttf?t=1656654166042') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e64d";
}

.icon-qianyuequerenqianyuedianziqianyue:before {
  content: "\e68f";
}

.icon-xiala:before {
  content: "\e627";
}

.icon-xiangyou:before {
  content: "\e626";
}

.icon-yuwolianxi:before {
  content: "\e608";
}

.icon-geren:before {
  content: "\e654";
}

.icon-ditu:before {
  content: "\e8ad";
}

.icon-shoucang:before {
  content: "\e8b9";
}

